<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='css/style.css' type='text/css'>
    <title>Tic-Tac-Toe-Tic-Tac-Toe-Tic</title>
</head>
<body>
    <h1> Tic-Tac-Toe-Tic-Tac-Toe-Tic</h1>
    <section class='game-board'>
    </section>
    <script rel='script' src='script/game.js'></script>
</body>
</html>