body {
    background: lemonchiffon;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(25, 25px);
    grid-template-rows: repeat(1, 625px);
    background: purple;
    border: 1px solid black;
}
div {
    border: 1px solid black;
}
.pointer {
    cursor: pointer;
}
.player-one {
    background: blue;
}
.player-two {
    background: red;
}
.row {
    margin: 0;
    padding: 0;
}
.square {
    margin: 0;
    padding: 0;
    height:23px;
    
}